MODE=dev

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=

# POSTGRES_DB
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=pgdb_name
POSTGRES_PORT=5432

# Google Auth
GOOGLE_SECRET_JSON_PATH=client_secret.json
GOOGLE_REDIRECT_URI=http://localhost:8088
GOOGLE_AUTH_COOKIE_KEY=google_auth_cookie

# Security
ALLOWED_HOSTS=http://localhost:8088